# Project exclude paths
/.gradle/
/build/
/run/world/
/run/resources/
/run/usercache.json
/run/logs/
/run/crash-reports/
/run/data/
/run/.fabric/
/run/config/
/run/downloads/
/run/banned-ips.json
/run/banned-players.json
/run/ops.json
/run/server.properties
/run/whitelist.json

/.idea/
